@model MVCData_assignments.Models.Person

<div id="personViewCard@(Model.Id)" class="card text-light bg-primary mb-3" style="min-width: 20rem;">
    <div class="card-header">Person information</div>
    <div class="card-body">
        <h4 class="card-title">
            @Html.DisplayFor(model => model.Name)
        </h4>
        @*<p class="card-text ">*@
        <table class="card-text">
            <tr>
                <td class="col-form-label col-form-label-sm">
                    @Html.DisplayNameFor(model => model.City)&nbsp;
                </td>
                <td>
                    @Html.DisplayFor(model => model.City)
                </td>
            </tr>
            <tr>
                <td class="col-form-label col-form-label-sm">
                    @Html.DisplayNameFor(model => model.Phonenumber)&nbsp;
                </td>
                <td>
                    @Html.DisplayFor(model => model.Phonenumber)
                </td>
            </tr>
        </table>
        @*</p>*@
        <div class="d-flex justify-content-end mt-sm-3">
            <button id="btnEditPerson" onclick="EditPerson('@(Model.Id)')" class="btn btn-secondary btn-sm mr-2">Edit</button>
            @*@Html.ActionLink("Edit", "Edit", new { id = Model.Id }, new { @class = "btn btn-secondary btn-sm " })*@

            @Html.ActionLink("Delete", "Delete", new { id = Model.Id }, new { @class = "btn btn-danger btn-sm " })
        </div>
    </div>
</div>
