@model MVCData_assignments.Models.Person

<div class="card text-light bg-primary mb-3" style="min-width: 15rem;">
    <div class="card-header">Person information</div>
    <div class="card-body">
        <h4 class="card-title">
            @Html.DisplayFor(model => model.Name)
        </h4>
        @*<p class="card-text ">*@
        <table class="card-text">
            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.City):&nbsp;
                </td>
                <td>
                    @Html.DisplayFor(model => model.City)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.Phonenumber):&nbsp;
                </td>
                <td>
                    @Html.DisplayFor(model => model.Phonenumber)
                </td>
            </tr>
        </table>
        @*</p>*@
        <div class="d-flex justify-content-end mt-sm-3">
            @Html.ActionLink("Delete", "Delete", new { id = Model.Id }, new { @class = "btn btn-secondary btn-sm " })
        </div>
    </div>
</div>
