@model MVCData_assignments.Models.PersonListViewModel
@{
    ViewData["Title"] = "Person List";
}

<h1>People</h1>
<div class="align-content-end"> <input type="button" onclick="location.href='@Url.Action("Create", "Person")'" class="btn btn-secondary align-content-end" value="Create new person"></div>

<form name="personForm" asp-action="Filter" method="post" autocomplete="off">


    <table class="table table-hover">
        <thead class="table-primary">
            <tr>

                <td colspan="2"></td>
                <td>
                    <input asp-for="Filter" class="form-control form-control-sm ali" />
                    @*@Html.TextBox("Filter");*@
                </td>
                <td>
                    <input type="submit" value="Filter" id="btnSubmit" class="btn btn-secondary btn-sm" />
                    <input type="button" onclick="location.href='@Url.Action("Index", "Person")'" class="btn btn-info btn-sm" value="Reset">
                </td>
            </tr>
            <tr>
                <th>
                    Name
                </th>
                <th>
                    City
                </th>
                <th>
                    Phonenumber
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>



            @foreach (var item in Model.PersonList)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.City)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Phonenumber)
                    </td>
                    <td>
                        <div>
                            @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "btn btn-danger btn-sm" })
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</form>
@if (ViewBag.DeleteMsg != null)
{
    string mess = ViewBag.DeleteMsg;
    bool success = mess.ToLower().Contains("success");
    string resultTextStyle = "text-danger";

    if (success) resultTextStyle = "text-secondary";
    <div class="h4 @resultTextStyle">
        @ViewBag.DeleteMsg
    </div>
}
