@model List<MVCBasicsAssignment1.Models.Person>
@{
    ViewData["Title"] = "Person";
}

<h1>People</h1>
<div class="align-content-end"> <input type="button" onclick="location.href='@Url.Action("Create", "Person")'" class="btn btn-secondary align-content-end" value="Create new person"></div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model[0].Name)
            </th>
            <th>
                City
            </th>
            <th>
                Phonenumber
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.City)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Phonenumber)
                </td>
                <td>
                    <div class="text-secondary btn-outline-secondary">
                        @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>

@if (ViewBag.DeleteMsg != null)
{
    string mess = ViewBag.DeleteMsg;
    bool success = mess.ToLower().Contains("success");
    string resultTextStyle = "text-danger";

    if (success) resultTextStyle = "text-secondary";
    <div class="h4 @resultTextStyle">
        @ViewBag.DeleteMsg
    </div>
}
